<div class="reply-form-close-container<%= params[:video_rating_id] %>">
  <%= form_for @reply_comment,url:end_user_video_rating_reply_comments_path(params[:video_rating_id]),method: :post,remote: true do |f| %>
    <div uk-grid>
      <div class="uk-margin uk-width-4-5 ">
        <%= f.text_field :comment,placeholder: "返信",class: "uk-input" %>
      </div>

      <div class="uk-width-1-5">
        <%= f.submit '返信',class: "uk-button uk-button-primary" %>
        <span id="cancel<%= params[:video_rating_id] %>"　type="button" uk-close style="margin-left: 15px; cursor: pointer;"></span>
      </div>
    </div>
  <% end %>
</div>


<script>
  $('#cancel<%= params[:video_rating_id] %>').on('click',function(){
  	$('.reply-form-close-container<%= params[:video_rating_id] %>').fadeOut(800);
  })
</script>