<%= form_for @video_rating,url:end_user_video_rating_path(params[:id]),method: :patch,remote: true do |f| %>
  <div uk-grid class="uk-margin">
    <div id = "star" class="uk-width-1-5">
      <%= f.hidden_field :rate, id: :review_star %>
    </div>
    <div class="uk-width-3-5">
      <%= f.text_area :comment,class: "uk-textarea" %>
    </div>
    <div class="uk-width-1-5">
      <%= f.submit "更新",class: "uk-button uk-button-primary"%>
    </div>
  </div>
<% end %>

<script>
  $('#star').raty({
    number: 5,
　  score: 3,
    size: 36,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'video_rating[rate]',
    half: true,
  });
</script>