<div class="comment-form-close-container<%= params[:video_id] %>">
  <%= form_for @video_rating,url:end_user_video_ratings_path,method: :post,remote: true do |f| %>
    <%= f.hidden_field :video_id, value: params[:video_id] %>
    <div uk-grid>
      <div id = "star" class="uk-width-1-5">
        <%= f.hidden_field :rate, id: :review_star %>
      </div>
      <div class="uk-width-3-5">
        <%= f.text_area :comment,size: '100x8' %>
      </div>
      <div class="uk-width-1-5">
        <%= f.submit '投稿する',class: "uk-button uk-button-primary" %>
        <span id="close<%= params[:video_id] %>"　type="button" uk-close style="margin-left: 15px; cursor: pointer;"></span>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('#star').raty({
    number: 5,
　  score: 3,
    size: 36,
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'video_rating[rate]',
    half: true,
  });

  $('#close<%= params[:video_id] %>').on('click',function(){
    $('.comment-form-close-container<%= params[:video_id] %>').fadeOut(800);
  });
</script>