<div class="event-edit-container">
  <%= form_for @event,url: end_user_event_path,method: :patch,html: {class: "uk-fieldse"} do |f| %>
    
    <div class="uk-margin">
      <%= f.label :title, "タイトル",class: "uk-form-label"  %>
      <%= f.text_field :title,class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= f.label :start, "開始日時",class: "uk-form-label"  %>
      <%= f.datetime_field :start,class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= f.label :end, "終了日時",class: "uk-form-label"  %>
      <%= f.datetime_field :end,class: "uk-input" %>
    </div>

    <div class="uk-margin">
      <%= f.label :address, "開催場所",class: "uk-form-label"  %>
      <%= f.text_area :address,class: "uk-textarea" %>
    </div>

    <div class="uk-margin">
      <%= f.label :description, "イベント内容",class: "uk-form-label"  %>
      <%= f.text_area :description,class: "uk-textarea" %>
    </div>

    <div class="uk-margin">
      <%= f.label :fee, "参加費",class: "uk-form-label" %>
      <%= f.text_field :fee,class: "uk-input" %><br>
    </div>

    <%= f.submit "更新",class: "uk-button uk-button-primary uk-width-1-1 " %>
  <% end %>

  <%= link_to "戻る", end_user_events_path,data:{ "turbolinks" => false} %>
</div>