<div id="calendar"></div>
<% if end_user_signed_in? %>
  <%= link_to new_end_user_event_path do %>
    <span class="uk-icon-button" uk-icon="icon: calendar" uk-tooltip="イベント登録"></span>
  <% end %>
<% end %>
<table class="uk-table uk-table-divider uk-text-center">
  <thead>
    <tr>
      <th class="uk-text-center">タイトル</th>
      <th class="uk-text-center">参加費</th>
      <th class="uk-text-center">開始日時</th>
      <th class="uk-text-center">終了日時</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title.truncate(25)  %></td>
        <td><%= event.fee.truncate(25)  %></td>
        <td><%= event.start.strftime("%Y/%-m/%-d %H:%M") %></td>
        <td><%= event.end.strftime("%Y/%-m/%-d %H:%M") %></td>
        <td>
          <%= link_to end_user_event_path(event.id),class: "uk-button uk-button-default" do %>
            <span uk-icon="icon: info" uk-tooltip="イベント詳細"></span>
          <% end %>
        </td>
        <% if end_user_signed_in? && current_end_user.id == event.end_user_id %>
          <td>
            <%= link_to edit_end_user_event_path(event.id),class: "uk-button uk-button-secondary" do %>
              <span uk-icon="icon: pencil" uk-tooltip="イベント編集"></span>
            <% end %>
          </td>
          <td>
            <%= link_to end_user_event_path(event.id), method: :delete, data: { confirm: '本当に削除しますか？-Are you sure?-' },class: "uk-button uk-button-danger" do %>
              <span uk-icon="icon: trash" uk-tooltip="イベント削除"></span>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>