<% search_videos.each do |video| %>
    <%= link_to end_user_video_path(video.id),id: "under-line-delete" do %>
      <div uk-grid class="video-container">
        <div class="uk-width-1-4@l uk-width-1-2">
          <%= video.created_at.strftime("%Y/%-m/%-d") %><br>
          <%= image_tag(video.video_url(:screenshot), id: "video", :alt => "screenshot") %>
        </div>
        <div class="uk-width-3-4@l uk-width-1-2 right-part">
          <span class="title-style"><%= video.title %><br></span>
          <%= video.end_user.user_name %>
          <%= video.category.category_name %><br>
          <%= video.description.truncate(50) %><br>
        </div>
      </div>
    <% end %>
  <% end %>

