  <div id="video-id" data-id="<%=params[:id]%>"></div>
    <h1><%= video.title %></h1>
    <% if flash[:error] %>
      <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <ul>
      <% video_tags.each do |video_tag| %>
        <li class="tag">
          <%= link_to end_user_tag_path(id: video.id,name: video_tag),method: :delete do %>
            <i class="fas fa-times-circle"></i> <!--タグの削除-->
          <% end %>
          <%= link_to video_tag, end_user_tags_path(video,name: video_tag),class: "tag-name",id:"tag" %>
        </li>
      <% end %>
    </ul>
    <%= form_for video,url: end_user_tags_path(video),method: :post do |f|%>
      <%= text_field_tag 'video[tag_list]','',placeholder: "タグ名を入力(15文字以内)" %>
      <%= f.submit "登録",class: "uk-button-primary uk-button-small" %>
    <% end %>
    <div style="margin-bottom: 15px;"><%= video_tag video.video_url.to_s,loop: true, controls: true, width: 1200, id: "mv" %></div>
    <div id="slider"></div>
    <div style="text-align: right">
      <span style="float:left" id="min"></span><span id="max"></span>
    </div>
    <div class="uk-margin">
      <label class="uk-form-label" for="form-stacked-select">再生速度</label>
      <select class="uk-select">
        <option value="0.25">x0.25</option>
        <option value="0.5">x0.5</option>
        <option value="0.75">x0.75</option>
        <option value="1.0" selected>x1.0</option>
        <option value="1.25">x1.25</option>
        <option value="1.5">x1.5</option>
        <option value="1.75">x1.75</option>
        <option value="2.0">x2.0</option>
      </select>
    </div>
    <i class="fas fa-redo" id="repeat" style="color: blue; font-size: 20px;" uk-tooltip="リピート再生"></i>
    <div class="uk-grid-divider uk-child-width-1-6@l video-info" uk-grid>
      <div>
        投稿日時<br>
        <%= video.created_at.strftime("%Y/%-m/%-d %H:%M") %>
      </div>
      <div>
        カテゴリー<br>
        <%= link_to video.category.category_name,end_user_categories_path(video) %>
      </div>
      <div>
        総評<br>
        <% total_rating = 0 %>
        <% video.video_ratings.each do |rating| %>
          <% total_rating += rating.rate %>
        <% end %>
        <%= total_rating %>
      </div>
      <div>
        <% if end_user_signed_in? %>
          <% if !Favorite.exists?(end_user_id:current_end_user.id ,video_id: video.id) %>
            <%= link_to  end_user_favorite_video_path(video.id), class: "fav", remote: true do %>
              <i class="fa fa-star" id="<%= video.id %>" uk-tooltip="お気に入りに登録を変更"></i>(<%= video.favorites.count %>)
            <% end %>
          <% else %>
            <%= link_to end_user_favorite_video_path(video.id), class: "fav",remote: true do %>
              <i class="fa fa-star fa-star-color" id="<%= video.id %>"></i>(<%= video.favorites.count %>)
            <% end %>
          <% end %>
        <% else %>
          <i class="fa fa-star fa-star-color"></i>(<%= video.favorites.count %>)
        <% end %>
      </div>
      <div>
        再生回数<br>
        <div id="views"><%= video.views %></div>
      </div>
    </div>
    <div class="uk-section-muted description"><%= video.description %></div>
    <% if end_user_signed_in? %>
      <% if current_end_user.id == video.end_user.id %>
        <%= link_to edit_end_user_video_path(video.id) do %>
          <span class="uk-icon-button" uk-icon="settings" uk-tooltip="この動画を編集する"></span>
        <% end %>
      <% end %>
    <% end %>
    <% if end_user_signed_in? %>
      <%= link_to new_end_user_video_rating_path(video_id: video.id),remote: true do %>
        <span class="uk-icon-button" uk-icon="commenting" uk-tooltip="コメントする"></span>
      <% end %>
    <% end %>
    <div id="result"></div>
    <div id="new-comment"></div>
    <div id="reply-comment-result"></div>
    <div id="flash_messages"></div>
    <div id="video_ratings_index">
      <%= render partial: "end_user/video_ratings/index",locals:{video_ratings: video_ratings} %>
    </div>
